* {
    padding: 0%;
    margin: auto;
}

body {
    background-color: #9ac6dc;
}

.wrapper {
    width: 1089px;
    height: auto;
    background-color: #ab1616;
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: #29bcd9;
    position: relative;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

nav {
    width: 100%;
    height: 50px;
    float: left;
    background-color: #981ed9;
    line-height: 50px;
    margin-top: 70px;
}

.search-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 25px;
    right: 100px;
}

.search-box .input-box {
    position: relative;
    background-color: rgb(253, 253, 253);
    padding: 12px;
    border-radius: 5px;
    width: 468px;
}

.search-box .input-box input {
    width: 100%;
    border: none;
    outline: none;
    color: #000000;
    font-size: 17;
    padding-right: 1px;
}

.search-box .input-box input::placeholder {
    color: #000000;
}

.search-box .search-button {
    color: black;
    float: right;
    width: 41px;
    height: 41px;
    border-radius: 5px;
    background-color: #8999a2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 424px;
    cursor: pointer;
}

.search-box .search-button img {
    width: 22px;
    height: 22px;
}

.logo img {
    position: relative;
    height: 100px;
    width: 100px;
    left: 45%;
}

.search-box .search-button a {
    text-decoration: none;
}

.search-box .search-button a h4 {
    right: 10px;
}

.sdt {
    position: absolute;
    right: 350px;
    top: 10px;
}

.sdt:hover {
    transform: rotate(10deg);
}

.sdt a {
    position: relative;
    border: none;
    text-decoration: none;
    color: #ffffff;
}

.sdt a p {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

.sdt a h3 {
    color: #050404;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.sdt a img {
    width: 40px;
    height: 40px;
    transform: translateX(-135px) translateY(35px);
}

.gioHang .btnGioHang {
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 15px;
    background-color: #8999a2;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    right: 30px;
}
.gioHang .btnGioHang img {
    width: 35px;
    height: 35px;
}

section {
    width: 100%;
    height: 100%;
    background-color: #9ac6dc;
    float: left;
}

.end {
    width: 100%;
    height: 280px;
    background-color: #024c53;
    margin-top: 220px;
    box-sizing: border-box;
    float: left;
}

.footer {
    width: 90%;
    height: 280px;
    box-sizing: border-box;
    float: left;
   margin-left: 150px;
   padding-left: 80px;
    background-color: #024c53;
}


.footer h6 {
    color: #f0f0f06f;
}

.footer a {
    color: #ffffff;
}

.footer4 li {
    color: #efefef;
}

.footer1 {
    width: 500px;
    height: 260px;
    padding: 20px;
    padding-left: 200px;
    float: left;
    background-color: #024c53;
    color: #d30f0f;
   
}

.footer2 {
    width: 260px;
    height: 260px;
   padding: 20px;
    float: left;
    background-color: #024c53;
    color: #d41919;
 
}

.footer3 {
    width: 230px;
    height: 260px;
    padding: 20px;
    float: left;
    background-color: #024c53;
    color: #e21616;
}

.footer4 {
    list-style: none;
    width: 260px;
    height: 260px;
    float: left ;
    background-color: #024c53;
    padding: 20px;
}

.menu {
    height: 50px;
    width: 100%;
    background-color: rgb(179, 29, 228);
}

.menu li {
    height: 50px;
    width: 27.2%;
    background-color: #19b617;
    list-style: none;
    float: left;
    line-height: 50px;
    text-indent: 10px;
    text-align: center;
}

.menu li:hover {
    background-color: #da3131;
}

li:hover>a {
    font-style: italic;
    color: #756435;
}

.menu ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.menu li .submenu {
    display: none;
    position: absolute;
}

.menu li:hover .submenu {
    display: block;
}

.menu ul li .submenu li {
    width: 200px;
}

.tieu-de {
    width: 100%;
    height: 45px;
    background-color: #19b617;
    margin-top: 40px;
    margin-bottom: 10px;
}

.content {
    width: 100%;
    height: auto;
    background-color: rgb(253, 253, 253);
}

.hang {
    height: 300px;
    background-color: #9ac6dc;
}

.o {
    width: 210.9px;
    height: 300px;
    background-color: #ffffff;
    float: left;
    border: 0.01px solid #c09318;
    text-align: center;
    margin-left: 6px;
    margin-top: 5px;
}

.o img {
    width: 200px;
    height: 190px;
    padding: 12px;
    margin-top: 15px;
}

.o a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    
}

.o:hover a {
    color: #ffbe0d;
}

.o p {
    font-size: 13px;
    color: rgb(213, 29, 29);
    font-weight: bold;
}

.menu1 {
    display: flex;
    float: right;
    list-style: none;
    right: 15px;
    top: 2px;
    margin-right: 10px;
}

.menu1 a {
    text-decoration: none;
    display: block;
    margin-left: 30px;
    color: #000000;
}

.tieu-de li {
    list-style: none;
    float: left;
    line-height: 40px;
    text-indent: 10px;
    text-align: center;
}

.tieu-de li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
